'context-menu':
  'atom-text-editor': [
    {
      label: 'Debug'
      submenu: [
        {label: 'Toggle Breakpoint', command: 'debugger:toggle-breakpoint-at-current-line'}
      ]
    }
  ]
  '.list-item.breakpoint': [
    {label: 'Edit Condition…',    command: 'debugger:edit-condition', enabled: false}
    {label: 'Remove Breakpoint',  command: 'debugger:remove-breakpoint'}
    {label: 'Disable Breakpoint', command: 'debugger:disable-breakpoint', enabled: false}
    {type:  'separator'}
  ]
