'atom-text-editor':
  'alt-cmd-r': 'debugger:start-locally'
  'alt-cmd-e': 'debugger:stop'
  'alt-cmd-c': 'debugger:resume'
  'alt-cmd-y': 'debugger:pause'
  'f6':        'debugger:step-over'
  'f7':        'debugger:step-into'
