@import 'ui-variables';
@import 'octicon-utf-codes';

.debugger-panel-resize-handle {
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  cursor: row-resize;
  top: -5px;
}

.debugger-section-resize-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
}

.debugger-panel-resizer {
  display: flex;
  flex-direction: column;
  min-height: 120px;
}

.combo-box {
  display: flex;
  justify-content: space-between;

  &::after {
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 5px;
    font-family: Octicons Regular;
    content: '\f05f';
    font-size: 0.8em;
    vertical-align: top;
  }

  .spacer {
    flex-grow: 1;
  }

  .drop-down {
    position: absolute;
    top: -1px;
    left: -1px;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .combo-box::after {
      visibility: hidden;
    }

    .btn {
      margin-left: 0px;

      &:first-child:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:not(:last-child):not(:first-child) {
        border-radius: 0;
      }

      &:not(:first-child){
        margin-top: -1px;
      }
    }
  }
}

debugger-panel-menu {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: content;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-between;
  padding: @component-padding/2 @component-padding/2 0 @component-padding/2;

  .btn {
    flex-grow: 0;
    font-size: @font-size;
  }

  .spacer {
    flex-grow: 1;
  }

  .combo-box {
    min-width: 125px;
  }

  .btn-group {
    padding-left: @component-padding/2;
    padding-right: @component-padding/2;
  }

  .btn > .icon {
    width: 12px;
    height: 16px;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: text-bottom;;
  }
}

debugger-panel-section {
  flex-grow: 1;
  overflow: scroll;

  border-width: 1px;
  border-style: solid;
  border-radius: @component-border-radius;
  border-color: @tool-panel-border-color;

  background-color: lighten(@tool-panel-background-color, 2%);

  &:not(:last-child) {
    margin-right: @component-padding;
  }
}

debugger-panel {
  display: flex;
  height: 100%;
  padding: @component-padding/2;
}

.line-number {
  &.debugger-breakpoint-line {
    .icon-right {
      visibility: visible;
      opacity: 1;
      color: @text-color-info;

      &::before {
        content: @stop
      }
    }
  }

  &.debugger-execution-line {
    opacity: 1;

    .icon-right {
      visibility: visible;
      opacity: 1;
      color: @text-color-info;

      &::before {
        content: @arrow-right
      }
    }
  }
}
